# Archivos específicos de Unity
[LlBb]ibrary/
[Oo]bj/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Archivos de Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Archivos de caché de Unity
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/
[Aa]ssets/[Ss]treaming[Aa]ssets/aa/*/*.bin

# Archivos de compilación
*.pdb
*.mdb
*.opendb
*.VC.db

# Otros archivos de Unity
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.opendb.meta
*.VC.db.meta
